
$tc-orange: rgb(253, 173, 0);
$dp-pink: #E1005C;
$text-color: rgb(255, 255, 255);
$header-color: rgb(103, 107, 108);
$fonts: "klavika", Helvetica, sans-serif;
$border-colors: rgb(255, 0, 100), rgb(151, 0, 123), rgb(255, 69, 0), rgb(247, 229, 0), rgb(236, 0, 4), rgb(0, 179, 181);

a {
    text-decoration: none;
    color: $text-color;

    &:hover, 
    &:focus {
        color: $tc-orange;
}
}


.bolded {
    font-weight: bold; //Asset needed
}

.button{
  @extend .reg-form;
  color: $text-color;
  background: $tc-orange;
  border: 0;
 

}

#submitBtn {
  width: 30%;
  color: #eee;
}

.checkbox-container, .btn-container {
  width: 55%;
  margin: 10px auto;
  @media (max-width: 850px) {
    width: 85%; 
  }
}

.btn-container { 
  text-align: center;
}

.checkbox {
  padding: 5px 0;
  text-align: left;

}

ul {
  list-style-type: none;
  margin: 0; 
  padding: 0;
  overflow: hidden;
  text-align: center; 
  font-size: 26px;
  @media (max-width: 850px) {
    font-size: 16px;
  }
}

li {
  display: inline;
  text-align: center;
}

.bg-wrapper {
  background: url("../images/ring.png") no-repeat;
  background-size: cover;
  min-height: 915px;
  background-position: top center;
  position: relative;

  @media (max-width: 850px) {
    background-position: center center;
    padding-top: 4em;
    min-height: 600px;
  }
  

}


.button-container {
text-align: center;
padding-bottom: 5%;
}

.tc {
  float: left;
}

.container-tc-priv {
  width: 100%;
  position: absolute;
  bottom: 0
}

.privacy {
  float: right;
}
.app-wrapper {
    width: 100%;
    height: 100% !important;
}


body {
  font-family: $fonts;
  width: 100%;
  background: #000;
  color: #fff;
  margin: 0;
}




.currentPage a, .txt-highlight{
  color: $tc-orange;
}

.dp-logo {
    float: left;
    width: 20%;
    padding-left: 10px;
    @media (max-width: 850px) {
    width: 50px;
  }
}



.mysteryNumbers {
  text-align: center;
  overflow: hidden;
  width: 100%;
  }

@for $i from 1 through 6 {
    #num#{$i}{
        border-color: nth($border-colors, $i);

    }
}

.inner {
    display: inline-block;
    position: relative;

    }

.page-header {
  width: 100%;
  background-color: $header-color; 
  margin: 0;
  text-align: center;
  height: 50px;
  padding: 25px 0;
  @media (max-width: 850px) {
   height: 30px; 
  }

}

.form-container {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  @media (max-width: 850px) {
    width: 90%;
  }
}

.reg-form {
  font-family: $fonts;
  font-size: 16px;
  padding-left: 5px;
  margin: 5px 0;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  height: 40px;
  border: 0;
  color: #111;
}

.mysterynumber {
  @extend .reg-form;
  background-color: #000;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  border: 2px solid;
  max-width: 40px;
  padding: 0;
  border-radius: 0px;

}

.navigation { 
  margin: 0 auto;
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.navigation-container {
  width: 100%;

}

.overlay {
    text-align: center;
    position: absolute;
    left: 0px;
    top: 50px;
    width: 100%;
    font-size: 20px;
    height: 225px;
    color: #FFF;
    background-color: rgba(50, 50, 50, 0.5);
}

.tc-img {
    width: 40px;
}

.registration {
  margin: 0 auto;
  width: 55%;
  padding-top: 10%;
  
  @media (max-width: 850px) {
    width: 100%;
  }

}

.register {
  color: #fff;
  font-size: 20px; 
}

.reg-instructions {
  width: 70%;
  margin: 0 auto;
  font-size: 20px;
  @media (max-width: 850px) {
  width: 100%;
  }
}

.steps {
  width: 75%;
  margin: 0 auto;
  & p {
    margin: 5px 0;

  }
}

.mn-message { 
  text-align: left;
  margin-bottom: .5em;
}

input[type=text]:focus {
  border-color: #E1005C;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(255,0,92);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(255,0,92);
}

strong {
  color: $tc-orange;
}

.tc-logo {
    float: right;
    padding-right: 10px
}


.tickboxes {
  margin: 0 auto;
}


video {
    width: 100%;
    display: block;
    background: url("../images/background.png") no-repeat center;

}

.fb-login {
  width: 250px; 
  padding: 1em;  
}